<form [formGroup]="taskForm">
    <div class="form-group">
        <label for="taskLable">Lable*</label>
        <input type="text" class="form-control" formControlName="taskLable" placeholder="Task..">
        <div *ngIf="taskLable.touched && taskLable.invalid">
            <span>
                <small style="color: rgb(190, 36, 36);">This field is required!!</small>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" formControlName="taskDescription" rows="2"></textarea>
        <div>
            <span *ngIf="taskDescription?.errors?.['maxlength'] && taskDescription?.dirty; else charCount ">
                <small style="color: rgb(190, 36, 36);">Charachter count should be less then 50!</small>
            </span>
            <ng-template #charCount>
                <small>Charachter left: {{ charLimit - taskDescription?.value.length }}</small>
            </ng-template>
        </div>
    </div>

    <div class="form-group">
        <label for="taskTime">Time</label>
        <input type="date" class="form-control" formControlName="taskTime">
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="boolReminder">
        <label class="form-check-label" for="boolReminder">Set Reminder</label>
    </div>
    <br>
    <button type="submit" [disabled]="taskForm.invalid" class="btn btn-primary" (click)="addTask()">Submit</button>
</form>